:root {
    --text-color: #0C0708;
    --button-color: #FFB780;
    --footer-color: #FFCCA6;
    --bg-color: #FAF6F3;
}

body {
    color: var(--text-color);
    font-family: "Tajawal";
    background-color: var(--bg-color);
}

.container {
    width: 1344px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.header {
    padding-top: 11px;
}

.header-img {
    width: 70.20000457763672px;
    height: 48.75px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    width: 100%;
}

.header-list {
    display: flex;
    gap: 32px;
    justify-content: flex-end;

}

.header-link {
    color: var(--text-color);
}

.header-button {
    font-weight: 500px;
    font-size: 16px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    border-radius: 100px;
    border-width: 1px;
    background-color: var(--button-color);
    margin-left: 32px;
}

.hero {
    padding-bottom: 64px;
    padding-top: 164px;
}

.hero-container {
    display: flex;
    gap: 32px;
}

.hero-block {
    padding-top: 141.5px;
    margin: 0 auto;
}

.hero-title {
    font-family: "Caveat";
    font-weight: 700px;
    font-size: 56px;
    max-width: 423px;
    margin-bottom: 24px;

}

.hero-text {
    font-weight: 400px;
    font-size: 18px;
    max-width: 423px;
    margin-bottom: 32px;
}

.hero-list {
    display: flex;
    gap: 16px;
}

.hero-register {
    width: 105px;
    height: 44px;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
    border-radius: 100px;
    border-width: 1px;
    background-color: var(--button-color);
}

.hero-more {
    width: 127px;
    height: 44px;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
    border-radius: 100px;
    border-width: 1px;
    background-color: var(--bg-color);
}

.advice {
    padding-top: 112px;
    padding-bottom: 112px;
}

.advice-container {
    display: flex;
    gap: 80px;
}

.advice-block {
    padding-top: 52px;
    padding-bottom: 62px;
}

.hero-photo {
    width: 857px;
    height: 659px;

}

.advice-photo {
    width: 616px;
    height: 586px;

}

.advice-title {
    font-family: "Caveat";
    font-weight: 700px;
    font-size: 40px;
    max-width: 450px;

}

.advice-heading {
    font-weight: 700px;
    font-size: 24px;

}

.advice-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 40px;
}

.advice-item {
    display: flex;
    gap: 24px;
}

.advice-spa::before {
    content: "";
    background-image: url("./img/spa.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 48px;
    height: 48px;
}

.advice-sun::before {
    content: "";
    background-image: url("./img/sun.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 48px;
    height: 48px;
}

.advice-leaf::before {
    content: "";
    background-image: url("./img/leaf.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 48px;
    height: 48px;
}

.advice-text {
    font-weight: 400px;
    font-size: 16px;
    margin-top: 16px;
}

.drawings {
    margin-top: 64px;
    margin-bottom: 64px;
}

.drawings-title {
    font-family: "Caveat";
    font-weight: 700px;
    font-size: 48px;
    text-align: center;
    margin-bottom: 24px;

}

.drawings-text {
    text-align: center;
    margin-bottom: 80px;
}

.drawings-list {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}

.drawings-items {
    display: flex;
    gap: 32px;
}

.drawings-photo {
    width: 416px;
    height: 416px;

}

.drawings-img {
    width: 304px;
    height: 346px;
}

.schedule {
    padding-bottom: 64px;
    padding-top: 64px;
}


.schedule-title {
    font-family: "Caveat";
    font-weight: 700px;
    font-size: 48px;

}

.schedule-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.schedule-box div {
    display: flex;
    gap: 32px;
    align-items: center;
}

.schedule-list {
    display: flex;
    flex-direction: column;
}

.schedule-item {
    display: flex;
    gap: 16px;
    align-items: center;
    border-top: solid #DBDADA;
    padding-top: 8px;
    padding-bottom: 8px;
    border-width: 3px;
}

.schedule-item:nth-last-of-type(1) {
    border-bottom: solid #DBDADA;
}

.schedule-info:before {
    content: "";
    background-image: url("./img/map.png");
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    align-items: center;
}

.schedule-items {
    display: flex;
    gap: 16px;
    align-items: center;
}

.schedule-text {
    font-weight: 400px;
    font-size: 18px;
    margin-bottom: 32px;
    margin-left: 20px;
}


.schedule-info {
    font-weight: 400px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
}

.schedule-data {
    font-weight: 400px;
    font-size: 20px;

}

.schedule-btn {
    width: 97px;
    height: 40px;
    gap: 8px;
    opacity: 1px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    border-radius: 100px;
    border-width: 1px;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--bg-color);
    border: solid #DBDADA;
    border-width: 1px;
    border-radius: 100px;
    padding: 8px 20px;
    width: 97px;
    height: 40px;

}

.team {
    padding-bottom: 64px;
    padding-top: 64px;
}

.team-title {
    font-family: "Caveat";
    font-weight: 700px;
    font-size: 48px;
    text-align: center;
}

.team-text {
    font-weight: 400px;
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 40px;

}

.team-photo {
    width: 152px;
    height: 152px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.team-list {
    display: flex;
    gap: 32px;
    padding-right: 20px;
    padding-left: 20px;
}

.team-name {
    font-weight: 700px;
    font-size: 20px;
    text-align: center;
    margin-top: 24px;

}

.team-rank {
    font-weight: 400px;
    font-size: 18px;
    text-align: center;

}

.reviews {
    padding-top: 64px;
    padding-bottom: 64px;
}

.reviews-title {
    font-family: "Caveat";
    font-weight: 700px;
    font-size: 48px;
    text-align: center;
    margin-bottom: 80px;

}

.reviews-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.reviews-item {
    border: 1px solid #DBDADA;
    border-radius: 16px;
    padding: 32px;
    width: 416px;
    height: 241px;
}

.reviews-text {
    font-weight: 400px;
    font-size: 18px;
    margin-bottom: 24px;
}

.reviews-text::before {
    content: "";
    background-image: url("./img/stars2.png");
    display: block;
    width: 120px;
    height: 24px;
    margin-bottom: 24px;
}

.reviews-subtext {
    font-size: 16px;
    font-weight: 700;

}

.register {
    padding-top: 112px;
    padding-bottom: 112px;
}

.register-title {
    font-family: "Caveat";
    font-weight: 700px;
    font-size: 48px;
    margin-bottom: 32px;
}

.register-container {
    display: flex;
    gap: 32px;
}

.register-name {
    font-weight: 400px;
    font-size: 16px;
}

.register-placeholder {
    font-weight: 400px;
    font-size: 16px;
    display: block;
    width: 640px;
    height: 40px;
    border-radius: 12px;
    border-width: 1px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    background-color: #0C070826;
    margin-top: 8px;
    margin-bottom: 24px;
}

.register-comment {
    width: 640px;
    height: 180px;
    padding: 12px;
    border-radius: 12px;
    border-width: 1px;
    resize: none;
    background-color: #0C070826;
    margin-top: 8px;
    margin-bottom: 24px;

}

.register-email {
    width: 640px;
    height: 24px;
    font-weight: 400px;
    font-size: 16px;
}

.register-text {
    font-weight: 400px;
    font-size: 16px;
    margin-top: 24px;

}

.register-btn {
    width: 304px;
    height: 44px;
    gap: 8px;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
    border-radius: 100px;
    border-width: 1px;
    background-color: var(--button-color);
    font-family: Tajawal;
    font-weight: 500px;
    font-size: 16px;
}

.register-photo {
    width: 640px;
    height: 734px;
}

.footer {
    background-color: var(--footer-color);
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
}

.footer-photo {
    width: 268px;
    height: 114px;
    margin-bottom: 32px;
}

.footer-list {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-bottom: 32px;
}

.footer-link {
    color: var(--text-color);
    font-weight: 500px;
    font-size: 18px;
}

.footer-text {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border-top: 1px solid #0C070826;
    width: 1312px;
    height: 0px;
    padding-top: 32px;
}